#milkshake-index {
  text-align: center;

  .banner-img {
    background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2017/12/28/0/YW1108_Boozy-Brown-Butter-Milkshakes_s3x4.jpg.rend.hgtvcom.826.620.suffix/1514495769109.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: auto;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      width: 33%;
    }

    img {
      width: 200px;
      height: 200px;
    }
  }
}
